{% extends "::base.html.twig" %}

{% block title %}AppBundle:Menu:editMenu{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ 'automiam.menu.edit.title'|trans({'%beginDate%': menu.beginDate|localizeddate(format = 'd MMMM'), '%endDate%': menu.endDate|localizeddate(format = 'd MMMM')}) }}</h1>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            {% for dayMenu in menu.dayMenus %}
                                <th style="width:{{ 100 / menu.dayMenus|length }}%">
                                    {{ dayMenu.day|localizeddate(format = 'EEEE d') }}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for dayMenu in menu.dayMenus %}
                                <td>
                                    <button type="button" class="btn btn-primary btn-block add-dish" daymenu="{{ dayMenu.id }}"><i class="glyphicon glyphicon-plus-sign"></i> {{ 'automiam.menu.edit.add_recipe'|trans }}</button>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for dayMenu in menu.dayMenus %}
                                <td id="dayMenu-{{ dayMenu.id }}">
                                    <ul>
                                        {% for menuRecipe in dayMenu.menuRecipes %}
                                            <li>{{ menuRecipe.recipe.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">{{ 'automiam.menu.edit.submit'|trans }}</button>
        </div>
    </div>
    {% do form.recipeSelector.setRendered %}
    {{ form_end(form) }}
    <div id="recipeSelectorPrototype" data-prototype="{% filter escape %}{{ include('AppBundle:Menu:recipeSelectorPrototype.html.twig', { 'form': form.recipeSelector.vars.prototype }) }}{% endfilter %}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var recipeSelectorCount = '{{ form.recipeSelector|length }}';

        $(document).ready(function() {
            $('.add-dish').click(function(e) {
                e.preventDefault();
                
                var dayMenu = $(this).attr('dayMenu');           
                var dayMenuList = $('#dayMenu-' + dayMenu);

                var newWidget = $('#recipeSelectorPrototype').attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, recipeSelectorCount);
                recipeSelectorCount++;

                $(newWidget).appendTo(dayMenuList);
                
                initializePlugins();
                $('#appbundle_recipe_selectors_recipeSelector_'+ (recipeSelectorCount - 1) + '_dayMenu').val(dayMenu);
            });
        })
    </script>
{% endblock %}