{% extends "::base.html.twig" %}
{% form_theme form 'AppBundle:Menu:recipeSelectorPrototype.html.twig' %}

{% block title %}{{ 'automiam.menu.edit.title'|trans({'%beginDate%': menu.beginDate|localizeddate(format = 'd MMMM'), '%endDate%': menu.endDate|localizeddate(format = 'd MMMM')}) }}{{ parent() }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ 'automiam.menu.edit.title'|trans({'%beginDate%': menu.beginDate|localizeddate(format = 'd MMMM'), '%endDate%': menu.endDate|localizeddate(format = 'd MMMM')}) }}</h1>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            {% for dayMenu in menu.dayMenus %}
                                <th style="width:{{ 100 / menu.dayMenus|length }}%">
                                    {{ dayMenu.day|localizeddate(format = 'EEEE d') }}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for dayMenu in menu.dayMenus %}
                                <td>
                                    <button type="button" class="btn btn-primary btn-block add-dish" daymenu="{{ dayMenu.id }}"><i class="glyphicon glyphicon-plus-sign"></i> {{ 'automiam.menu.edit.add_recipe'|trans }}</button>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for dayMenu in menu.dayMenus %}
                                <td id="dayMenu-{{ dayMenu.id }}">
                                    <ul class="list-group">
                                        {% for menuRecipe in dayMenu.menuRecipes %}
                                            <li class="list-group-item">
                                                <button class="remove-menu-recipe pull-right btn btn-xs btn-danger" data-recipe-id="{{ menuRecipe.id }}"><i class="glyphicon glyphicon-remove"></i></button>
                                                {{ menuRecipe.recipe.name }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% for recipeSelector in form.recipeSelector %}
                                        {% if recipeSelector.dayMenu.vars.value == dayMenu.id %}
                                            {{ form_row(recipeSelector) }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">{{ 'automiam.menu.edit.submit'|trans }}</button>
        </div>
    </div>
    {% do form.recipeSelector.setRendered %}
    {{ form_end(form) }}
    <div id="recipeSelectorPrototype" data-prototype="{% filter escape %}{{ include('AppBundle:Menu:recipeSelectorPrototype.html.twig', { 'form': form.recipeSelector.vars.prototype }) }}{% endfilter %}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var recipeSelectorCount = '{{ form.recipeSelector|length }}';

        $(document).ready(function() {
            $('.add-dish').click(function(e) {
                e.preventDefault();
                
                var dayMenu = $(this).attr('dayMenu');           
                var dayMenuList = $('#dayMenu-' + dayMenu);

                var newWidget = $('#recipeSelectorPrototype').attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, recipeSelectorCount);
                recipeSelectorCount++;

                $(newWidget).appendTo(dayMenuList);
                
                initializePlugins();
                $('#appbundle_recipe_selectors_recipeSelector_'+ (recipeSelectorCount - 1) + '_dayMenu').val(dayMenu);
            });
            
            $('.remove-menu-recipe').click(function(e) {
                e.preventDefault();
                var removeMenuRecipeUrl = '{{ path('remove_menu_recipe_route', {'id': menu.id, 'menuRecipeId': 'menuRecipeId'}) }}';
                
                $.get(removeMenuRecipeUrl.replace('menuRecipeId', $(this).attr('data-recipe-id')));
                
                $(this).parent().remove();
            });
        })
    </script>
{% endblock %}